.site-nav {
  @include media-query($on-palm) {
    position: initial;
    border: none;

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: 0;
    }
  }
}