// google web fonts
$Serif: 'PT Serif', serif;
$SansSerif: 'PT Sans', sans-serif;
$Monospace: 'PT Mono', monospace;
$base-font-size: 21px;
$on-palm:          600px !default;
$on-medium:        $on-palm !default;